@import "~prismjs/themes/prism-okaidia.css";
@import "~prismjs/plugins/line-numbers/prism-line-numbers";

.article{

}

.time-block{
  opacity: 0.5;
  font-family: 'Montserrat';
  font-size:0.85rem;
  float: right;
}
